body {
  background-color: cyan;
}
p{
color: black;
	text-align: center;
	  }
h1 {
  color: black;
 
  text-align: center;
}
h2{
	color: black;
	text-align: center;
}

h3{
	color: black;
	text-align: center;
}